*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article{
    height: 600px;
    width: 600px;
    border: 1px solid;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ball{
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
    background-color: rgb(152, 48, 48);
    position: absolute;
    top: 40px;
    left: 40px;
    animation-name: Ball;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
main{
    height: 300px;
    width: 300px;
    border: 1px solid;
    border-radius: 10%;
    background-color: cornsilk;
}
@keyframes Ball {
    0%{
        left: 40px;
        top: 40px;
        transform: scale(0.5);
    }
    25%{
        left: 460px;
        top: 40px;
        background-color: aqua;
        transform: scale(0.7);
    }
    50%{
        top: 460px;
        left: 460px;
        background-color: cadetblue;
        transform: scale(0.8);
    }
    75%{
        left: 40px;
        top: 460px;
        background-color: darkblue;
        transform: scale(1);
    }
    100%{
        top: 40px;
        background-color: darkmagenta;
        transform: scale(1.2);
    }
}