*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
article{
    height: 300px;
    width: 300px;
    border: 1px solid;
    margin: 0;
    
}
#sec{
    height: 500px;
    width: 500px;
    border: 1px solid;
    margin: 0;
    position: relative;
}
#third{
    height: 80px;
    width: 80px;
    border: 1px solid;
    position: absolute;
    left: 100px;
}